{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/3096047/500x500) no-repeat top center/ cover">
    </section>
    <section class="details" id="forms_edit">
        <form method="POST" action="/teachers?_methodOverride=PUT">
            <h3>EDIÇÃO DOS DADOS</h3>

            {% include "teachers/fields.njk" %}

            <input 
                type="hidden" 
                name="id"
                value="{{teacher.id}}"
                >
        </form>
        <form method="POST" action="/teachers?_methodOverride=DELETE" id="form-delete">
            <input 
                type="hidden"
                name="id"
                value="{{teacher.id}}"
                >

            <button type="submit" id="btn_delete">DELETAR</button>
        </form>
    </section>
</div>
{% endblock %}