{% extends "layout.njk" %}

{% block content%}
<div class="card">
    <section 
        class="avatar"
        style="background: url({{teacher.avatar_url}}) no-repeat top center/cover">
    </section>
    <section class="details">
        <H3>DETALHES</H3>
        <div class="item">
            <div>NOME COMPLETO</div>
            <div>{{teacher.name}}</div>
        </div>
        <div class="item">
            <div>IDADE</div>
            <div>{{teacher.age}}</div>
        </div>
        <div class="item">
            <div>GRAU DE ESCOLARIDADE</div>
            <div>{{teacher.graduation}}</div>
        </div>
        <div class="item">
            <div>TIPO DE AULA</div>
            <div>
                {{"PRESENCIAL" if teacher.typeOfClass == "P" else "À DISTÂNCIA"}}
            </div>
        </div>
        <div class="item">
            <div>ACOMPANHAMENTO</div>
            <div>
                {%for learning in teacher.learning%}
                    <span>{{learning}}</span>
                {%endfor%}
            </div>
        </div>

        <div class="item">
            <div>DESDE</div>
            <div>{{teacher.created_at}}</div>
        </div>   

        <a href="/teachers/{{teacher.id}}/edit" class="edit">EDITAR</a>                             
    </section>
</div>
{% endblock %}